@import 'tailwindcss';

body {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.ballon {
    margin: 0;         /* Aucune marge */
    padding: 0;        /* Aucun remplissage */
    left: 0;           /* À ajuster (devrait être géré par GSAP) */
    top: 0;            /* À ajuster, pas nécessaire car géré par GSAP */
}